

    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'home/main.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<div class="navbar navbar-inverse" id="navbar">
    <div class="container-fluid">
        <h3 class="pull-left">You are not logged in, to get complete functionality, please log in.</h3>
        <button class="btn pull-right glyphicon glyphicon-plus" id="register"><a href="register">Register</a></button>
        <button class="btn pull-right glyphicon glyphicon-user" id="loginn"><a href="login">LogIn</a></button>
        <button class="btn pull-right glyphicon glyphicon-off" id="logout"><a href="logout">LogOut</a></button>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <div class="page-header">
            <h1>Get Drunk</h1>
        </div>
        <form  method="post" class="input-group" action="/home">
            {% csrf_token %}
            {{ form }}
        <div class="btn">
            <button class="btn btn-success" id="calc">Calculate</button>
        </div>
        </form>

        <h3>{{ kalkulering }}</h3>

    </div>




</div>
