#jumbo2 {
    background-color: darkorange;
}
#calc {
    background-color: darkorange;
    border-radius: 7px;
}
#register{
background-color: darkorange;
    margin: 2px;
}
#register a{
    color: white;
}
#loginn{
background-color: darkorange;
    margin: 2px;
}
#kalkulator{
    margin: 2px;
    background-color: darkorange;
}
#kalkulator a{
    color: white;
}
#loginn a{
color: white;
}
#logout{
background-color: darkorange;
    margin: 2px;
}
#logout a{
    color: white;
}
#navbar{
    border-radius: 0;
    background-color: lightgray;
    border: none;
}
#notuserfront p{
    font-size: 110%;
}
#infojumbo{
    background-color: darkorange;
    color: black;
    margin-left: 15px;
}
#infojumbo p{
    font-size: 100%;
}
#container-form {
    width: 100px;
}